@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/raleway/raleway-800.woff2) format('woff2');
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/rubik/rubik-400.woff2) format('woff2');
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/rubik/rubik-700.woff2) format('woff2');
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  background-color: #ffffff;
  color: #444444;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-container {
  flex-grow: 1;
}

.page-header {
  background-color: #FFE17F;
  min-height: 140px;
}

.header-upper-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-button-container {
  display: flex;
  flex-wrap: wrap;
}

.field {
  font-size: 16px;
  line-height: 20px;
  opacity: 30%;
  margin-left: 60px;
  margin-top: 46px;
}

.search-button {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.login-button {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  margin-left: 53px;
  margin-top: 46px;
}

.compare-button {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  margin-top: 51px;
  margin-right: 61px;
}

.basket-button {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  margin-top: 51px;
  margin-right: 60px;
}

.header-lower-container {
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 3px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-toggler-title {
  color: #000000;
  text-decoration: none;
  margin-top: 45px;
  margin-left: 60px;
}

.header-menu-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.header-menu-item {
  margin-right: 55px;
  margin-top: 50px;
}

.slider {
  display: flex;
}

.slider-container {
  display: flex;
  flex-direction: column;
}

.slider-description-container {
  display: flex;
  flex-direction: column;
}

.slider-description-title {
  font-family: "Raleway";
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
}

.detail-button {
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 3px;
}

.specifications {
  display: grid;
  grid-template-columns: 144px 144px;
  gap: 20px;
}

.range-metre {
  font-size: 36px;
  line-height: 30px;
  color: #000000;
}

.range {
  font-size: 16px;
  line-height: 30px;
}

.categories-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.categories-list {
  font-family: "Raleway";
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  list-style: none;
}

.opportunities {
  display: flex;
}

.opportunities-list {
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 3px;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.opportunities-item-added {
  color: #FFE17F;
}

.opportunities-description-container {
  display: flex;
  flex-direction: column;
}

.opportunities-description-title {
  font-family: "Raleway";
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
}

.delivery-container {
  display: flex;
  justify-content: center;
}

.delivery-description {
  font-family: "Raleway";
  font-size: 20px;
  line-height: 23px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 3px;
}

.information {
  display: flex;
}

.about-us-container {
  display: flex;
  flex-direction: column;
}

.contacts-container {
  display: flex;
  flex-direction: column;
}

.about-us-title {
  font-family: "Raleway";
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
}

.about-us-list {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
  list-style: none;
}

.more-about-us-button {
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 3px;
}

.contacts-title {
  font-family: "Raleway";
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
}

.shop-device {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.shop-time {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.contact-us-button {
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 3px;
}

.subscribe {
  display: flex;
  flex-direction: column;
}

.subscribe-title {
  font-family: "Raleway";
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
}

.text-subscribe-container {
  display: flex;
}

.subscribe-form-container {
  display: flex;
}

.subscribe-button {
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 3px;
}

.login-button {
  color: #000000;
}

.login-button-exit {
  opacity: 30%;
  color: #000000;
}

.inner-header-title {
  font-family: "Raleway";
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
}

.breadcrumbs {
  font-size: 16px;
  line-height: 20px;
  list-style: none;
}

.breadcrumbs-link {
  color: #000000;
  text-decoration: none;
}

.catalog-filter-title {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
}

.filter-title {
  font-family: "Raleway";
  font-size: 16px;
  line-height: 18px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 3px;
}

.catalog-filter-list {
  list-style: none;
}

.catalog-filter-item {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.show-button {
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 3px;
}

.sort-title {
  font-family: "Raleway";
  font-size: 16px;
  line-height: 18px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 3px;
}

.option-button {
  color: #000000;
}

.catalog-list {
  list-style: none;
}

.catalog-card-title {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

.catalog-card-prise {
  font-size: 18px;
  line-height: 20px;
}

.catalog-card-link {
  color: #000000;
  text-decoration: none;
}

.download-more-button {
  font-family: "Raleway";
  font-size: 16px;
  line-height: 18px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 3px;
}

.pagination-list {
  list-style: none;
}

.pagination-back-link {
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  opacity: 30%;
  letter-spacing: 3px;
  text-decoration: none;
  color: #444444;
}

.pagination-link-one {
  font-size: 16px;
  line-height: 20px;
  opacity: 60%;
  text-decoration: none;
  color: #444444;
}

.pagination-link {
  font-size: 16px;
  line-height: 20px;
  opacity: 30%;
  text-decoration: none;
  color: #444444;
}

.pagination-forward-link {
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 3px;
  text-decoration: none;
}

.page-footer {
 background-color: #444444;
}

.page-footer {
  display: flex;
  flex-direction: column;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-adress-text {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.footer-menu {
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  color: #ffffff;
  letter-spacing: 3px;
  list-style: none;
  display: flex;
}

.footer-number {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
