@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/raleway/raleway-800.woff2) format('woff2');
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/rubik/rubik-400.woff2) format('woff2');
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/rubik/rubik-700.woff2) format('woff2');
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  background-color: #ffffff;
  color: #444444;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-container {
  flex-grow: 1;
}

.up {
  height: 40px;
  position: relative;
}

.device-logo {
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 60px;
}

.page-container {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
}

.page-header {
  background-color: #FFE17F;
  min-height: 300px;
}

.header-upper-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-button-container {
  display: flex;
  flex-wrap: wrap;
}

.field {
  font-size: 16px;
  line-height: 20px;
  opacity: 30%;
  margin-left: 60px;
  margin-top: 46px;
}

.search-button {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background-color: #FFE17F;
}

.login-button {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  margin-left: 53px;
  margin-top: 46px;
  border: none;
  background-color: #FFE17F;
}

.compare-button {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  margin-top: 51px;
  margin-right: 61px;
  border: none;
  background-color: #FFE17F;
}

.basket-button {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  margin-top: 51px;
  margin-right: 60px;
  border: none;
  background-color: #FFE17F;
}

.header-lower-container {
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 3px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-toggler-title {
  color: #000000;
  text-decoration: none;
  margin-top: 45px;
  margin-left: 60px;
  text-transform: uppercase;
}

.header-menu-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.header-menu-item {
  margin-right: 55px;
  margin-top: 50px;
}

.slider {
  display: flex;
  justify-content: space-between;
  height: 400px;
}

.slider-container {
  display: flex;
  flex-direction: column;
  width: 560px;
}


.slider-description-container {
  display: flex;
  flex-direction: column;
}

.slider-description-title {
  font-family: "Raleway";
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
  margin: 0;
  padding: 0;
  position: relative;
  bottom: 60px;
}

.slider-description {
  position: relative;
  bottom: 40px;
}

.numbers {
  font-size: 180px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  margin: 0;
  padding: 0;
  position: relative;
  left: 300px;
  bottom: 75px;
}

.copter-img {
  position: relative;
  top: -150px;
}

.detail-button {
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 3px;
  text-transform: uppercase;
  border: none;
  background-color: #FFFFFF;
  width: 210px;
  height: 20px;
  margin-bottom: 60px;
}

.specifications {
  display: grid;
  grid-template-columns: 160px 170px;
}

.range-metre {
  font-size: 36px;
  line-height: 30px;
  color: #000000;
}

.range {
  font-size: 16px;
  line-height: 30px;
  margin-top: 12px;
  margin-right: 20px;
}

.categories-list {
  display: flex;
  justify-content: space-between;
  font-family: "Raleway";
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  list-style: none;
  padding: 0;
  margin: 0;
}

.categories-item {
  margin: 0;
  width: 160px;
}

.categories-text {
  margin-top: 33px;
}

.square {
  width: 160px;
  height: 160px;
  background-color: #FFE17F;
  display: flex;
  align-items: center;
  justify-content: center;
}

.opportunities {
  display: flex;
  background-color: #F0F0F0;
}

.opportunities-container {
  position: relative;
}

.opportunities-list {
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 3px;
  list-style: none;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  margin-top: 143px;
  padding: 0;
}

.opportunities-item:not(:first-child) {
  margin-top: 56px;
}

.opportunities-item-added {
  color: #FFE17F;
}

.opportunities-men {
  position: absolute;
  left: 900px;
  bottom: 20px;
}

.opportunities-description-container {
  display: flex;
  flex-direction: column;
  margin-left: 243px;
  width: 448px;
}

.opportunities-description-title {
  font-family: "Raleway";
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
  margin-top: 142px;
}

.opportunities-description {
  margin-top: 34px;
}

.delivery-container {
  display: flex;
  margin-top: 70px;
  background-color:#F0F0F0;
}

.delivery-sqare {
  background-color: #FFE17F;
  width: 125px;
  height: 100px;
}

.delivery-description {
  font-family: "Raleway";
  font-size: 20px;
  line-height: 23px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 3px;
  text-transform: uppercase;
  align-self: center;
  margin: 0 auto;
}

.delivery-car {
  position: relative;
  top: 35px;
  left: 39px;
}

.information {
  display: flex;
  margin-top: 70px;
}

.about-us-container {
  display: flex;
  flex-direction: column;
}

.contacts-container {
  display: flex;
  flex-direction: column;
  margin-left: 108px;
}

.about-us-title {
  font-family: "Raleway";
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
  margin-top: 47px;
  margin-bottom: 0;
}

.upper-description {
  margin-top: 48px;
}

.lower-description {
  margin-top: 30px;
}

.about-us-list {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
  list-style: none;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 0;
}

.about-us-item:not(:first-child) {
  margin-top: 19px;
}

.more-about-us-button {
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-top: 40px;
  border: none;
  background-color: #FFFFFF;
}

.contacts-title {
  font-family: "Raleway";
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
  margin-top: 47px;
  margin-bottom: 0;
}

.contacts-description {
  margin-top: 48px;
}


.shop-device {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 0;
}

.shop-adress {
  margin-top: 15px;
  margin-bottom: 0;
}

.shop-number {
  margin: 0;
}

.shop-time {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin-top: 30px;
}

.weekdays-time {
  margin-top: 15px;
  margin-bottom: 0;
}

.weekends-time {
  margin-top: 10px;
  margin-bottom: 0;
}

.contact-us-button {
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-top: 40px;
  border: none;
  background-color: #FFFFFF;
}

.subscribe {
  display: flex;
  flex-direction: column;
}

.subscribe-title {
  font-family: "Raleway";
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
}

.text-subscribe-container {
  display: flex;
}

.subscribe-form-container {
  display: flex;
}

.subscribe-button {
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.login-button {
  color: #000000;
}

.login-button-exit {
  opacity: 30%;
  color: #000000;
}

.inner-header-title {
  font-family: "Raleway";
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
}

.breadcrumbs {
  font-size: 16px;
  line-height: 20px;
  list-style: none;
  display: flex;
}

.breadcrumbs-link {
  color: #000000;
  text-decoration: none;
}

.catalog-container {
  display: flex;
}

.catalog-filter-title {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
}

.filter-title {
  font-family: "Raleway";
  font-size: 16px;
  line-height: 18px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 3px;
}

.catalog-filter-list {
  list-style: none;
}

.catalog-filter-item {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.show-button {
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.sort-title {
  font-family: "Raleway";
  font-size: 16px;
  line-height: 18px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 3px;
}

.option-button {
  color: #000000;
}

.catalog-list {
  list-style: none;
  display: grid;
  grid-template-columns: 360px 360px;
  gap: 40px;
}

.catalog-card-title {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

.catalog-card-prise {
  font-size: 18px;
  line-height: 20px;
}

.catalog-card-link {
  color: #000000;
  text-decoration: none;
}

.download-more-button {
  font-family: "Raleway";
  font-size: 16px;
  line-height: 18px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.pagination-list {
  list-style: none;
  display: flex;
}

.pagination-back-link {
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  opacity: 30%;
  letter-spacing: 3px;
  text-decoration: none;
  color: #444444;
  text-transform: uppercase;
}

.pagination-link-one {
  font-size: 16px;
  line-height: 20px;
  opacity: 60%;
  text-decoration: none;
  color: #444444;
}

.pagination-link {
  font-size: 16px;
  line-height: 20px;
  opacity: 30%;
  text-decoration: none;
  color: #444444;
}

.pagination-forward-link {
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
}

.page-footer {
 background-color: #444444;
}

.page-footer {
  display: flex;
  flex-direction: column;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-adress-text {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.footer-menu {
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  color: #ffffff;
  letter-spacing: 3px;
  list-style: none;
  display: flex;
  text-transform: uppercase;
}

.footer-number {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
